//----- LAYOUT COLORS ------//
$red-color: #f38181;
$yellow-color: #fce38a;
$green-color: #95e1d3;
$background-color: #f8f8f8;

// -------- FONTS COLORS -------- //
$light-gray-font: #cccccc;
$gray-font: #999999;
$dark-font: #333333;

//-------- SOCIAL COLORS -------//


// -------- FONT STYLE ---------//
$main-font: 'Roboto', Arial, sans-serif;
$secondary-font: 'Montserrat', Arial, sans-serif;
$decoration-font: 'Kaushan Script', Times, cursive;

// ---------- FONT SIZES --------- //
$main-head-size: 120px;
$main-header-decor-size: 54px;

$main-header-size: 30px;
$secondary-header-size: 24px;
$small-header-size: 18px;

$normal-font-size: 16px;
$small-font-size: 15px;
$mini-font-size: 13px;

$counter-size: 64px;



  

