.article {
    margin: 5% auto;

    &__decor {
        color: $dark-font;
        font-size: $secondary-header-size;
        font-family: $decoration-font;
        margin: 0;
    }

    &__header {
        color: $dark-font;
        font-size: $main-header-size;
        font-family: $secondary-font;
        font-weight: 600;

        &:after {
            content: "";
            display: block;
            width: 60px;
            border-bottom: solid 3px $red-color;
            margin: 0.8em auto;
        }
    }

    &__content {
        color: $gray-font;
        font-size: $normal-font-size;
    }
}


