.boxbar {
    justify-content: space-between; 
    margin-bottom: 1em;

    &__container {
        cursor: pointer;

        &:hover > .boxbar__text {
            color: $red-color;
        }
    }

    &__bar {
        height: 3px;
    }

    &__text {
        margin-top: 1em;
        font-size: $small-header-size;

        &--larger {
            font-size: $secondary-header-size;
        }
    }
}
