.header {
    background-image: linear-gradient( 180deg, rgba(243,129,129, 0.8) 0%,  rgba(252,227,138, 0.8) 100%);
    background-position: center;
    background-size: cover;
    min-height: 100%;
    color: #fff;
    font-family: $secondary-font;
    display: flex;
    justify-items: space-between;
    position: relative;

    &__content-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 300px;
        text-align: center;
        justify-content: center;
    }

    &__decor {
        font-size: $main-header-decor-size;
        font-family: $decoration-font;

        @include queries(sm) {
            font-size: 54px;
        }

        @include queries(xs) {
            font-size: $main-header-size;
        }
    }

    &__content {
        font-size: $main-head-size;
        font-family: $secondary-font;
        font-weight: 600;
        line-height: 0.9;

        @include queries(sm) {
            font-size: 85px;
        }

        @include queries(xs) {
            font-size: 40px;
        }
        
        &:after {
            content: "";
            display: block;
            width: 60px;
            border-bottom: solid 3px #fff;
            margin: 0.4em auto;
        }
    }

    &__button {
        width: 157px;
        align-self: center;
        border: 3px solid #fff;
        background: transparent;
        color: #fff;
        font-family: $secondary-font;
        padding: 0.3em 0;
        font-size: $small-font-size;
        margin-bottom: 1em;
        cursor: pointer;

        &:hover {
            color: $red-color;
            border-color: $red-color;
        }
    }
}

